/* ************************************************************************** */
/* --------------------------- Root: Every pages ---------------------------- */
/* ************************************************************************** */

:root {
	--c-bg: #00244d;
	--c-fg: #fff;
}

body {
	padding: 0px;
	padding-top: 10px;
	background-color: var(--c-bg);
}

* {
	font-family: "Kodchasan", sans-serif;
	font-weight: 300;
	font-size: 1.02em;
	font-style: normal;
	color: var(--c-fg);
}

.background-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background: url("https://cdn.prod.website-files.com/6206183801c03c3c7c7e316c/65a1654270406c29d7c7c227_1background-banner.png") no-repeat center center fixed;
	background-size: cover;
}

/* ************************************************************************** */
/* ------------------------------ Blur effect ------------------------------- */
/* ************************************************************************** */

.container-blur {
	backdrop-filter: blur(8px);
	background-color: #00000050;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	width: fit-content;
	border-radius: 10px;
	border: 1px solid #fff;
	box-shadow: 0 0 10px 0 #ffffff80;
}

.container-blur-success {
	backdrop-filter: blur(8px);
	background-color: #00ff0050;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	width: fit-content;
	border-radius: 10px;
	border: 1px solid #0f0;
	box-shadow: 0 0 10px 0 #00ff0080;
}

.container-blur-error {
	backdrop-filter: blur(8px);
	background-color: #00000050;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	width: fit-content;
	border-radius: 10px;
	border: 1px solid #f00;
	box-shadow: 0 0 10px 0 #ff000080;
}

.block-blur {
	backdrop-filter: blur(12px);
	background-color: #00000030;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 80vh;
	width: min(850px, 100%);
	border-radius: 4px;
	display: flex;
}

.block-blur > .content {
	flex: 992;
	width: 100%;
}

.block-blur-pad {
	flex: 4;
	width: 2px;
	min-width: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	background: #fff;
}

.block-blur-pad:first-child {
	margin-right: 20px;
}

.block-blur-pad:last-child {
	margin-left: 20px;
}

/* ************************************************************************** */
/* --------------------------------- Alerts --------------------------------- */
/* ************************************************************************** */

.alert-dismissible {
	padding: 10px;
}

.alert-dismissible .content {
	margin-right: 30px;
}

.alert-dismissible .btn-close {
	transform: scale(.75) translate(25%, -25%);
}

/* ************************************************************************** */
/* --------------------------------- Navbar --------------------------------- */
/* ************************************************************************** */

.navbar {
	padding: 0;
}

.navbar > .container-fluid {
	padding-left: 0;
	width: 100%;
}

.navbar > .container-fluid > * {
	flex: 1;
	text-align: right;
}

.navbar > .container-fluid > *:nth-child(2) {
	text-align: center;
}

.navbar img {
	width: 50px;
}

.navbar-brand h1 {
	display: inline;
}

.navbar-brand {
	display: flex;
}

.navbar .profile-name {
	font-size: large;
	text-decoration: underline #555555;
	text-underline-offset: .17em;
	text-decoration-thickness: .1em;
	letter-spacing: .05em;
}

.navbar .profile-name:hover {
	text-decoration: underline #555555;
	text-underline-offset: .17em;
	text-decoration-thickness: .1em;
}

.navbar .profile {
	position: relative;
}

.navbar .profile > * {
	cursor: pointer;
}

.navbar #logout-btn {
	position: absolute;
	right: 0;
	display: none;
}

.navbar .profile:hover #logout-btn {
	display: block;
}

/* ************************************************************************** */
/* --------------------------------- Forms ---------------------------------- */
/* ************************************************************************** */

.form-ssm {
	width: min(512px, 100%);
}

.form-ssm .row {
	margin-bottom: 5px;
}

.form-ssm label {
	font-weight: bold;
}

.form-ssm *::placeholder {
	color: #888;
}

.form-ssm input {
	background: transparent;
	color: var(--c-fg);
}

.form-ssm input:focus {
	background: transparent;
	color: var(--c-fg);
}

.form-ssm button[type="submit"] {
	width: 100%;
}

/* ************************************************************************** */
/* -------------------------------- Profile --------------------------------- */
/* ************************************************************************** */

#profile-content .profile {
	display: flex;
}

#profile-content #profile-picture {
	width: 100px;
	border-radius: 1000%;
}

#profile-content #profile-name {
	font-size: 2em;
	font-weight: 500;
	height: fit-content;
	align-self: center;
	margin-left: 10px;
}

#profile-content #profile-username {
	font-size: 1em;
	font-weight: 500;
	font-style: italic;
	color: #aaa;
	height: fit-content;
	align-self: center;
	margin-left: 10px;
}

#profile-content .rating {
	display: flex;
	width: 80%;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	font-size: 1.1em;
}

#profile-content .rating > * {
	flex: 1;
}

#profile-content .rating-label {
	text-decoration: underline;
	text-underline-offset: .1em;
}

#profile-content #rating-games-won {
	margin-right: 20px;
	font-weight: 800;
	color: #0f0;
}

#profile-content #rating-games-lost {
	margin-left: 20px;
	font-weight: 800;
	color: #f00;
}

#profile-content #rating-ratio {
	font-weight: 600;
	color: #aaa;
}

#profile-content .table {
	margin-top: 50px;
}

#profile-content .table > thead > * > * {
	font-weight: 600;
}

#profile-content .table > :not(caption) > * > * {
	background-color: transparent;
	color: var(--c-fg);
}

#profile-content .table-striped > tbody > tr:nth-of-type(2n+1) > * {
	background-color: #00000030;
}

#profile-content .table > tbody > tr:hover > * {
	background-color: #00000050;
}

#profile-content .table .game-won {
	color: #0f0;
	font-weight: 600;
}

#profile-content .table .game-lost {
	color: #f00;
	font-weight: 600;
}

#profile-content .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

#profile-content .nav > * {
	flex: 1;
}

#profile-content .nav .nav-links {
	max-width: 20%;
}

#profile-content .nav .nav-labels {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 15%;
}

#profile-content .nav .nav-labels > * {
	flex: 1;
}

#profile-content .nav .nav-label {
	color: #aaa;
}

#profile-content .nav #nav-label-current {
	font-weight: 600;
	color: var(--c-fg);
}

/* ******************************************************************** */
/* ------------------------------ PlayId ------------------------------ */
/* ******************************************************************** */

#playid-content .moving-point {
	position: absolute;
	height: 8px;
	width: 8px;
	display: flex;
	background-color: white;
	animation: playid-move-point 5s 0s infinite linear;
	border-radius: 500px;
	border: 1px solid #fff;
	box-shadow: 0 0 10px 0 #ffffff80;
}

#playid-content .search-text span {
	position: relative;
	animation: playid-jump-letter 3s infinite;
}

#playid-content .search-text span:nth-child(2) {
	animation-delay: 0.1s;
}

#playid-content .search-text span:nth-child(3) {
	animation-delay: 0.2s;
}

#playid-content .search-text span:nth-child(4) {
	animation-delay: 0.3s;
}

#playid-content .search-text span:nth-child(5) {
	animation-delay: 0.4s;
}

#playid-content .search-text span:nth-child(6) {
	animation-delay: 0.5s;
}

#playid-content .search-text span:nth-child(7) {
	animation-delay: 0.6s;
}

#playid-content .search-text span:nth-child(8) {
	animation-delay: 0.7s;
}

#playid-content .search-text span:nth-child(9) {
	animation-delay: 0.8s;
}

@keyframes playid-jump-letter {
	0% {
		bottom: 0px;
	}
	8% {
		bottom: 2px;
	}
	16% {
		bottom: 0px;
	}
	100% {
		bottom: 0px;
	}
}

@keyframes playid-move-point {
	0% {
		top: calc(0% - 4px);
		left: calc(0% - 4px);
	}
	30% {
		top: calc(0% - 4px);
		left: calc(100% - 4px);
	}
	50% {
		top: calc(100% - 4px);
		left: calc(100% - 4px);
	}
	80% {
		top: calc(100% - 4px);
		left: calc(0% - 4px);
	}
	100% {
		top: calc(0% - 4px);
		left: calc(0% - 4px);
	}
}

/* ************************************************************************** */
/* ------------------------------ Miscellanous ------------------------------ */
/* ************************************************************************** */

.a-no-style {
	text-decoration: inherit;
	color: inherit;
	font: inherit;
}

.a-no-style:hover {
	text-decoration: inherit;
	color: inherit;
}
